<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>About 황재권</title>
    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'single_pages/css/about_me.css' %}" rel="stylesheet" media="screen">
</head>
<body>

{% include 'blog/navbar.html' %}

<!-- 자기소개 //-->
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>안녕하세요. 황재권입니다.</h1>
                <br />
                <p class="lead">
                    게임과 운동, 잠자는 것을 좋아합니다.<br />
                    유진이와 가장 친한 남자친구입니다.
                </p>
                <ul>
                    <li>삼일공업고등학교 졸업(2023)
                    <img src="{% static 'single_pages/images/i_graduate.png' %}" width="30px"></li>
                </ul>
                <ul>
                    <li>자격증 6개 보유
                        <img src="{% static 'single_pages/images/i_crown.png' %}" width="30px"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>
</body>
</html>